output/
.idea/
downloaded_messages/
old_downloaded_messages/
output2/
output3/
pim_data/
__pycache__/
output2/
output*/
old_downloaded_messages_failed/
pim_by_type_failed/
pim_data_failed/
downloaded_messages_failed/
